<a href="https://colab.research.google.com/github/MichelNascimento/SQL-com-PySpark/blob/main/Lab7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# <font color='white'>Data Science Academy</font>
# <font color='white'>Biga Data Real-Time Analyticcom Python</font>

## <font color='white'>Análise de Dados com Linguagem SQL e PySpark no Google Cola</font>

In [19]:
from IPython.display import Image
Image(url="https://www.bing.com/images/search?view=detailV2&ccid=%2fkShFWeR&id=81A710B8DACDAC02397349F9917DA2946AB16BBA&thid=OIP._kShFWeRR9NzWnKLhUoJngHaEK&mediaurl=https%3a%2f%2fi.pinimg.com%2foriginals%2f7a%2fc5%2f18%2f7ac51896710038993f8ea9f5b862d71a.jpg&cdnurl=https%3a%2f%2fth.bing.com%2fth%2fid%2fR.fe44a115679147d3735a728b854a099e%3frik%3dumuxapSifZH5SQ%26pid%3dImgRaw%26r%3d0&exph=1080&expw=1920&q=imagem&simid=608046565122662755&FORM=IRPRST&ck=1172CB973380CB7571AF58E16BA5B3B7&selectedIndex=1&ajaxhist=0&ajaxserp=0", width = 200, height = 100)

In [20]:
# Versão da Linguagem Python
from platform import python_version
print('Versão da Linguagem Python Usada neste Jupyter Notebook: ', python_version())

Versão da Linguagem Python Usada neste Jupyter Notebook:  3.10.12

In [21]:
# Versão Linux do Google Cola
!cat /etc/*release

DISTRIB_ID=Ubuntu
DISTRIB_RELEASE=22.04
DISTRIB_CODENAME=jammy
DISTRIB_DESCRIPTION="Ubuntu 22.04.2 LTS"
PRETTY_NAME="Ubuntu 22.04.2 LTS"
NAME="Ubuntu"
VERSION_ID="22.04"
VERSION="22.04.2 LTS (Jammy Jellyfish)"
VERSION_CODENAME=jammy
ID=ubuntu
ID_LIKE=debian
HOME_URL="https://www.ubuntu.com/"
SUPPORT_URL="https://help.ubuntu.com/"
BUG_REPORT_URL="https://bugs.launchpad.net/ubuntu/"
PRIVACY_POLICY_URL="https://www.ubuntu.com/legal/terms-and-policies/privacy-policy"
UBUNTU_CODENAME=jammy

In [22]:
!ls

sample_data  spark-3.4.1-bin-hadoop3  spark-3.4.1-bin-hadoop3.tgz

In [23]:
# Versão do Java
!java -version

openjdk version "11.0.20.1" 2023-08-24
OpenJDK Runtime Environment (build 11.0.20.1+1-post-Ubuntu-0ubuntu122.04)
OpenJDK 64-Bit Server VM (build 11.0.20.1+1-post-Ubuntu-0ubuntu122.04, mixed mode, sharing)

# <font color="white">Instalação do Apache Spark no Google Colab</font>

In [24]:
# Download do arquivo
!wget -q https://archive.apache.org/dist/spark/spark-3.4.1/spark-3.4.1-bin-hadoop3.tgz

In [30]:
# Descompactando o arquivo
!tar xf spark-3.4.1-bin-hadoop3.tgz

In [35]:
!ls /content

dataset.csv  sample_data  spark-3.4.1-bin-hadoop3  spark-3.4.1-bin-hadoop3.tgz

In [39]:
# Define a variável de ambiente SPARK_HOME
import os
os.environ["SPARK_HOME"] = "/content/spark-3.4.1-bin-hadoop3"

#<font color="white">Criando a sessão do PySpark</font>

In [37]:
# Instala o findspark
!pip install -q findspark

In [41]:
# Importa os pacotes e cria a sessão Spark
import findspark
findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()

# Propriedade usada para formatar mlehor as tabelas de saída
spark.conf.set("spark.sql.repl.eagerEval.enabled", True)
spark

#<font color="white">Análise Dados com SQL e PySpark</font>

In [46]:
# Carrega o dataset
df_dsa = spark.read.csv('dataset.csv', header = True, sep = ";")

In [47]:
# Visualiza as primeiras linhas
df_dsa.show(5)

+--------------------+----+---------+------------+----------+------+------------+-----+------+
|                 Car| MPG|Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|
+--------------------+----+---------+------------+----------+------+------------+-----+------+
|Chevrolet Chevell...|18.0|        8|       307.0|     130.0| 3504.|        12.0|   70|    US|
|   Buick Skylark 320|15.0|        8|       350.0|     165.0| 3693.|        11.5|   70|    US|
|  Plymouth Satellite|18.0|        8|       318.0|     150.0| 3436.|        11.0|   70|    US|
|       AMC Rebel SST|16.0|        8|       304.0|     150.0| 3433.|        12.0|   70|    US|
|         Ford Torino|17.0|        8|       302.0|     140.0| 3449.|        10.5|   70|    US|
+--------------------+----+---------+------------+----------+------+------------+-----+------+
only showing top 5 rows

In [48]:
# visualiza as primeiras linha sem truncate
df_dsa.show(5, truncate = False)

+-------------------------+----+---------+------------+----------+------+------------+-----+------+
|Car                      |MPG |Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|
+-------------------------+----+---------+------------+----------+------+------------+-----+------+
|Chevrolet Chevelle Malibu|18.0|8        |307.0       |130.0     |3504. |12.0        |70   |US    |
|Buick Skylark 320        |15.0|8        |350.0       |165.0     |3693. |11.5        |70   |US    |
|Plymouth Satellite       |18.0|8        |318.0       |150.0     |3436. |11.0        |70   |US    |
|AMC Rebel SST            |16.0|8        |304.0       |150.0     |3433. |12.0        |70   |US    |
|Ford Torino              |17.0|8        |302.0       |140.0     |3449. |10.5        |70   |US    |
+-------------------------+----+---------+------------+----------+------+------------+-----+------+
only showing top 5 rows

In [51]:
# Visualiza as colunas do dataset
df_dsa.columns

['Car',
 'MPG',
 'Cylinders',
 'Displacement',
 'Horsepower',
 'Weight',
 'Acceleration',
 'Model',
 'Origin']

In [53]:
# Tipos de dados
df_dsa.dtypes

[('Car', 'string'),
 ('MPG', 'string'),
 ('Cylinders', 'string'),
 ('Displacement', 'string'),
 ('Horsepower', 'string'),
 ('Weight', 'string'),
 ('Acceleration', 'string'),
 ('Model', 'string'),
 ('Origin', 'string')]

In [55]:
# Schema (visualiza o esquema que foi escolhido pelo Spark para carregar os dados)
df_dsa.printSchema()

root
 |-- Car: string (nullable = true)
 |-- MPG: string (nullable = true)
 |-- Cylinders: string (nullable = true)
 |-- Displacement: string (nullable = true)
 |-- Horsepower: string (nullable = true)
 |-- Weight: string (nullable = true)
 |-- Acceleration: string (nullable = true)
 |-- Model: string (nullable = true)
 |-- Origin: string (nullable = true)

In [59]:
# Faz a interfência do schema ao carreagar o dataset
df_dsa = spark.read.csv('dataset.csv', header = True, sep = ";", inferSchema = True)
df_dsa.printSchema()

root
 |-- Car: string (nullable = true)
 |-- MPG: double (nullable = true)
 |-- Cylinders: integer (nullable = true)
 |-- Displacement: double (nullable = true)
 |-- Horsepower: double (nullable = true)
 |-- Weight: decimal(4,0) (nullable = true)
 |-- Acceleration: double (nullable = true)
 |-- Model: integer (nullable = true)
 |-- Origin: string (nullable = true)

In [60]:
# Lista as colunas
from pyspark.sql.types import *
df_dsa.columns

['Car',
 'MPG',
 'Cylinders',
 'Displacement',
 'Horsepower',
 'Weight',
 'Acceleration',
 'Model',
 'Origin']

In [61]:
# Criando uma ista de Tuplas do esquema no formato coluna:tipo
labels = [
    ('Car', StringType()),
    ('MPG', DoubleType()),
    ('Cylinders', IntegerType()),
    ('Displacement', DoubleType()),
    ('Horsepower', DoubleType()),
    ('Weight', DoubleType()),
    ('Acceleration', DoubleType()),
    ('Model', IntegerType()),
    ('Origin', StringType())
]

In [62]:
# Cirando o esquema que será passado na leitura do arquivo
schema = StructType((StructField (x[0], x[1], True) for x in labels))
schema

StructType([])

In [64]:
# Carrega o dataset com schema definifo
fd_dsa = spark.read.csv('dataset.csv', header = True, sep = ";", schema = schema)
df_dsa.printSchema()

root
 |-- Car: string (nullable = true)
 |-- MPG: double (nullable = true)
 |-- Cylinders: integer (nullable = true)
 |-- Displacement: double (nullable = true)
 |-- Horsepower: double (nullable = true)
 |-- Weight: decimal(4,0) (nullable = true)
 |-- Acceleration: double (nullable = true)
 |-- Model: integer (nullable = true)
 |-- Origin: string (nullable = true)

In [65]:
# Visualia os dados
df_dsa.show()

+--------------------+----+---------+------------+----------+------+------------+-----+------+
|                 Car| MPG|Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|
+--------------------+----+---------+------------+----------+------+------------+-----+------+
|Chevrolet Chevell...|18.0|        8|       307.0|     130.0|  3504|        12.0|   70|    US|
|   Buick Skylark 320|15.0|        8|       350.0|     165.0|  3693|        11.5|   70|    US|
|  Plymouth Satellite|18.0|        8|       318.0|     150.0|  3436|        11.0|   70|    US|
|       AMC Rebel SST|16.0|        8|       304.0|     150.0|  3433|        12.0|   70|    US|
|         Ford Torino|17.0|        8|       302.0|     140.0|  3449|        10.5|   70|    US|
|    Ford Galaxie 500|15.0|        8|       429.0|     198.0|  4341|        10.0|   70|    US|
|    Chevrolet Impala|14.0|        8|       454.0|     220.0|  4354|         9.0|   70|    US|
|   Plymouth Fury iii|14.0|        8|       440.0|     215.0|  4312|         8.5|   70|    US|
|    Pontiac Catalina|14.0|        8|       455.0|     225.0|  4425|        10.0|   70|    US|
|  AMC Ambassador DPL|15.0|        8|       390.0|     190.0|  3850|         8.5|   70|    US|
|Citroen DS-21 Pallas| 0.0|        4|       133.0|     115.0|  3090|        17.5|   70|Europe|
|Chevrolet Chevell...| 0.0|        8|       350.0|     165.0|  4142|        11.5|   70|    US|
|    Ford Torino (sw)| 0.0|        8|       351.0|     153.0|  4034|        11.0|   70|    US|
|Plymouth Satellit...| 0.0|        8|       383.0|     175.0|  4166|        10.5|   70|    US|
|  AMC Rebel SST (sw)| 0.0|        8|       360.0|     175.0|  3850|        11.0|   70|    US|
| Dodge Challenger SE|15.0|        8|       383.0|     170.0|  3563|        10.0|   70|    US|
|  Plymouth 'Cuda 340|14.0|        8|       340.0|     160.0|  3609|         8.0|   70|    US|
|Ford Mustang Boss...| 0.0|        8|       302.0|     140.0|  3353|         8.0|   70|    US|
|Chevrolet Monte C...|15.0|        8|       400.0|     150.0|  3761|         9.5|   70|    US|
|Buick Estate Wago...|14.0|        8|       455.0|     225.0|  3086|        10.0|   70|    US|
+--------------------+----+---------+------------+----------+------+------------+-----+------+
only showing top 20 rows

In [86]:
# 3 fomas de selecionar as linhas da coluna Car(nome da coluna é case sensitive)
print('1. Forma com df_dsa.select(df_dsa.Car)')
df_dsa.select(df_dsa.Car).show(truncate = False)

print('\n2. Forma com df_dsa.select(df_dsa[\'car\']')
df_dsa.select(df_dsa['car']).show(truncate = False)

print('\n3. Forma com from pyspark.sql.functions import col\ndf_dsa.select(col(\'car\')).show(truncate = False)')
from pyspark.sql.functions import col
df_dsa.select(col('car')).show(truncate = False)

1. Forma com df_dsa.select(df_dsa.Car)
+--------------------------------+
|Car                             |
+--------------------------------+
|Chevrolet Chevelle Malibu       |
|Buick Skylark 320               |
|Plymouth Satellite              |
|AMC Rebel SST                   |
|Ford Torino                     |
|Ford Galaxie 500                |
|Chevrolet Impala                |
|Plymouth Fury iii               |
|Pontiac Catalina                |
|AMC Ambassador DPL              |
|Citroen DS-21 Pallas            |
|Chevrolet Chevelle Concours (sw)|
|Ford Torino (sw)                |
|Plymouth Satellite (sw)         |
|AMC Rebel SST (sw)              |
|Dodge Challenger SE             |
|Plymouth 'Cuda 340              |
|Ford Mustang Boss 302           |
|Chevrolet Monte Carlo           |
|Buick Estate Wagon (sw)         |
+--------------------------------+
only showing top 20 rows


2. Forma com df_dsa.select(df_dsa['car']
+--------------------------------+
|car                             |
+--------------------------------+
|Chevrolet Chevelle Malibu       |
|Buick Skylark 320               |
|Plymouth Satellite              |
|AMC Rebel SST                   |
|Ford Torino                     |
|Ford Galaxie 500                |
|Chevrolet Impala                |
|Plymouth Fury iii               |
|Pontiac Catalina                |
|AMC Ambassador DPL              |
|Citroen DS-21 Pallas            |
|Chevrolet Chevelle Concours (sw)|
|Ford Torino (sw)                |
|Plymouth Satellite (sw)         |
|AMC Rebel SST (sw)              |
|Dodge Challenger SE             |
|Plymouth 'Cuda 340              |
|Ford Mustang Boss 302           |
|Chevrolet Monte Carlo           |
|Buick Estate Wagon (sw)         |
+--------------------------------+
only showing top 20 rows


3. Forma com from pyspark.sql.functions import col
df_dsa.select(col('car')).show(truncate = False)
+--------------------------------+
|car                             |
+--------------------------------+
|Chevrolet Chevelle Malibu       |
|Buick Skylark 320               |
|Plymouth Satellite              |
|AMC Rebel SST                   |
|Ford Torino                     |
|Ford Galaxie 500                |
|Chevrolet Impala                |
|Plymouth Fury iii               |
|Pontiac Catalina                |
|AMC Ambassador DPL              |
|Citroen DS-21 Pallas            |
|Chevrolet Chevelle Concours (sw)|
|Ford Torino (sw)                |
|Plymouth Satellite (sw)         |
|AMC Rebel SST (sw)              |
|Dodge Challenger SE             |
|Plymouth 'Cuda 340              |
|Ford Mustang Boss 302           |
|Chevrolet Monte Carlo           |
|Buick Estate Wagon (sw)         |
+--------------------------------+
only showing top 20 rows

In [76]:
# Seleciona as linhas de duas colunas
df_dsa.select(df_dsa.Car, df_dsa.Cylinders).show(truncate = False)

+--------------------------------+---------+
|Car                             |Cylinders|
+--------------------------------+---------+
|Chevrolet Chevelle Malibu       |8        |
|Buick Skylark 320               |8        |
|Plymouth Satellite              |8        |
|AMC Rebel SST                   |8        |
|Ford Torino                     |8        |
|Ford Galaxie 500                |8        |
|Chevrolet Impala                |8        |
|Plymouth Fury iii               |8        |
|Pontiac Catalina                |8        |
|AMC Ambassador DPL              |8        |
|Citroen DS-21 Pallas            |4        |
|Chevrolet Chevelle Concours (sw)|8        |
|Ford Torino (sw)                |8        |
|Plymouth Satellite (sw)         |8        |
|AMC Rebel SST (sw)              |8        |
|Dodge Challenger SE             |8        |
|Plymouth 'Cuda 340              |8        |
|Ford Mustang Boss 302           |8        |
|Chevrolet Monte Carlo           |8        |
|Buick Estate Wagon (sw)         |8        |
+--------------------------------+---------+
only showing top 20 rows

In [80]:
df_dsa.select(df_dsa['car'], df_dsa['cylinders']).show(truncate = False)

+--------------------------------+---------+
|car                             |cylinders|
+--------------------------------+---------+
|Chevrolet Chevelle Malibu       |8        |
|Buick Skylark 320               |8        |
|Plymouth Satellite              |8        |
|AMC Rebel SST                   |8        |
|Ford Torino                     |8        |
|Ford Galaxie 500                |8        |
|Chevrolet Impala                |8        |
|Plymouth Fury iii               |8        |
|Pontiac Catalina                |8        |
|AMC Ambassador DPL              |8        |
|Citroen DS-21 Pallas            |4        |
|Chevrolet Chevelle Concours (sw)|8        |
|Ford Torino (sw)                |8        |
|Plymouth Satellite (sw)         |8        |
|AMC Rebel SST (sw)              |8        |
|Dodge Challenger SE             |8        |
|Plymouth 'Cuda 340              |8        |
|Ford Mustang Boss 302           |8        |
|Chevrolet Monte Carlo           |8        |
|Buick Estate Wagon (sw)         |8        |
+--------------------------------+---------+
only showing top 20 rows

In [81]:
df_dsa.select(col('car'), col('cylinders')).show(truncate = False)

+--------------------------------+---------+
|car                             |cylinders|
+--------------------------------+---------+
|Chevrolet Chevelle Malibu       |8        |
|Buick Skylark 320               |8        |
|Plymouth Satellite              |8        |
|AMC Rebel SST                   |8        |
|Ford Torino                     |8        |
|Ford Galaxie 500                |8        |
|Chevrolet Impala                |8        |
|Plymouth Fury iii               |8        |
|Pontiac Catalina                |8        |
|AMC Ambassador DPL              |8        |
|Citroen DS-21 Pallas            |4        |
|Chevrolet Chevelle Concours (sw)|8        |
|Ford Torino (sw)                |8        |
|Plymouth Satellite (sw)         |8        |
|AMC Rebel SST (sw)              |8        |
|Dodge Challenger SE             |8        |
|Plymouth 'Cuda 340              |8        |
|Ford Mustang Boss 302           |8        |
|Chevrolet Monte Carlo           |8        |
|Buick Estate Wagon (sw)         |8        |
+--------------------------------+---------+
only showing top 20 rows

#<font color="white">Adicionando coluna do dataset</font>

In [90]:
# Utilizando a função lit(), cria uma coluna com um literal
from pyspark.sql.functions import lit
df_dsa = df_dsa.withColumn('Registro', lit(True))
df_dsa.show(5, truncate = False)

+-------------------------+----+---------+------------+----------+------+------------+-----+------+--------+
|Car                      |MPG |Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|Registro|
+-------------------------+----+---------+------------+----------+------+------------+-----+------+--------+
|Chevrolet Chevelle Malibu|18.0|8        |307.0       |130.0     |3504  |12.0        |70   |US    |true    |
|Buick Skylark 320        |15.0|8        |350.0       |165.0     |3693  |11.5        |70   |US    |true    |
|Plymouth Satellite       |18.0|8        |318.0       |150.0     |3436  |11.0        |70   |US    |true    |
|AMC Rebel SST            |16.0|8        |304.0       |150.0     |3433  |12.0        |70   |US    |true    |
|Ford Torino              |17.0|8        |302.0       |140.0     |3449  |10.5        |70   |US    |true    |
+-------------------------+----+---------+------------+----------+------+------------+-----+------+--------+
only showing top 5 rows

In [93]:
# Adicionando duas coluna
df_dsa = df_dsa.withColumn('Codigo', lit(10)).withColumn('Estado', lit('Zero Km'))
df_dsa.show(5, truncate = False)

+-------------------------+----+---------+------------+----------+------+------------+-----+------+--------+------+-------+
|Car                      |MPG |Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|Registro|Codigo|Estado |
+-------------------------+----+---------+------------+----------+------+------------+-----+------+--------+------+-------+
|Chevrolet Chevelle Malibu|18.0|8        |307.0       |130.0     |3504  |12.0        |70   |US    |true    |10    |Zero Km|
|Buick Skylark 320        |15.0|8        |350.0       |165.0     |3693  |11.5        |70   |US    |true    |10    |Zero Km|
|Plymouth Satellite       |18.0|8        |318.0       |150.0     |3436  |11.0        |70   |US    |true    |10    |Zero Km|
|AMC Rebel SST            |16.0|8        |304.0       |150.0     |3433  |12.0        |70   |US    |true    |10    |Zero Km|
|Ford Torino              |17.0|8        |302.0       |140.0     |3449  |10.5        |70   |US    |true    |10    |Zero Km|
+-------------------------+----+---------+------------+----------+------+------------+-----+------+--------+------+-------+
only showing top 5 rows

In [97]:
# Concatena colunas do dataset com um literal, criando uma nova coluna
from pyspark.sql.functions import concat
df_dsa = df_dsa.withColumn('Modelo_Carro', concat(col("Car"), lit(" - "), col("model")))
df_dsa.show(5, truncate = False)

+-------------------------+----+---------+------------+----------+------+------------+-----+------+--------+------+-------+------------------------------+
|Car                      |MPG |Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|Registro|Codigo|Estado |Modelo_Carro                  |
+-------------------------+----+---------+------------+----------+------+------------+-----+------+--------+------+-------+------------------------------+
|Chevrolet Chevelle Malibu|18.0|8        |307.0       |130.0     |3504  |12.0        |70   |US    |true    |10    |Zero Km|Chevrolet Chevelle Malibu - 70|
|Buick Skylark 320        |15.0|8        |350.0       |165.0     |3693  |11.5        |70   |US    |true    |10    |Zero Km|Buick Skylark 320 - 70        |
|Plymouth Satellite       |18.0|8        |318.0       |150.0     |3436  |11.0        |70   |US    |true    |10    |Zero Km|Plymouth Satellite - 70       |
|AMC Rebel SST            |16.0|8        |304.0       |150.0     |3433  |12.0        |70   |US    |true    |10    |Zero Km|AMC Rebel SST - 70            |
|Ford Torino              |17.0|8        |302.0       |140.0     |3449  |10.5        |70   |US    |true    |10    |Zero Km|Ford Torino - 70              |
+-------------------------+----+---------+------------+----------+------+------------+-----+------+--------+------+-------+------------------------------+
only showing top 5 rows

In [116]:
# Renomeando colunas
df_dsa = df_dsa.withColumnRenamed('Registro', 'Registro_Car')\
                .withColumnRenamed('Codigo', 'Codigo_Car')\
                .withColumnRenamed('Estado', 'Estado_Car')
df_dsa.show(5, truncate = False)

+-------------------------+----+---------+------------+----------+------+------------+-----+------+----------+----------+------------------------------+
|Car                      |MPG |Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|Codigo_Car|Estado_Car|Modelo_Carro                  |
+-------------------------+----+---------+------------+----------+------+------------+-----+------+----------+----------+------------------------------+
|Chevrolet Chevelle Malibu|18.0|8        |307.0       |130.0     |3504  |12.0        |70   |US    |10        |Zero Km   |Chevrolet Chevelle Malibu - 70|
|Buick Skylark 320        |15.0|8        |350.0       |165.0     |3693  |11.5        |70   |US    |10        |Zero Km   |Buick Skylark 320 - 70        |
|Plymouth Satellite       |18.0|8        |318.0       |150.0     |3436  |11.0        |70   |US    |10        |Zero Km   |Plymouth Satellite - 70       |
|AMC Rebel SST            |16.0|8        |304.0       |150.0     |3433  |12.0        |70   |US    |10        |Zero Km   |AMC Rebel SST - 70            |
|Ford Torino              |17.0|8        |302.0       |140.0     |3449  |10.5        |70   |US    |10        |Zero Km   |Ford Torino - 70              |
+-------------------------+----+---------+------------+----------+------+------------+-----+------+----------+----------+------------------------------+
only showing top 5 rows

#<font color="white">Sintaxe do SQL do próprio PySpark</font>

In [117]:
# Retorna valores únicos de uma coluna
df_dsa.select('Origin').distinct().show()

+------+
|Origin|
+------+
|Europe|
|    US|
| Japan|
+------+

In [118]:
# Retorna valores únicos da combinação de duas colunas
df_dsa.select('Origin', 'model').distinct().show()

+------+-----+
|Origin|model|
+------+-----+
|Europe|   71|
|Europe|   80|
|Europe|   79|
| Japan|   75|
|    US|   72|
|    US|   80|
|Europe|   74|
| Japan|   79|
|Europe|   76|
|    US|   75|
| Japan|   77|
|    US|   82|
| Japan|   80|
| Japan|   78|
|    US|   78|
|Europe|   75|
|    US|   71|
|    US|   77|
| Japan|   70|
| Japan|   71|
+------+-----+
only showing top 20 rows

In [119]:
#  Group By por coluna com PySpark
df_dsa.groupBy('Origin').count().show(5)

+------+-----+
|Origin|count|
+------+-----+
|Europe|   73|
|    US|  254|
| Japan|   79|
+------+-----+

In [120]:
df_dsa.groupBy('Origin', 'Model').count().show(5)

+------+-----+-----+
|Origin|Model|count|
+------+-----+-----+
|Europe|   71|    5|
|Europe|   80|    9|
|Europe|   79|    4|
| Japan|   75|    4|
|    US|   72|   18|
+------+-----+-----+
only showing top 5 rows

In [121]:
# Removendo colunas
df_dsa = df_dsa.drop('Registro_Car')
df_dsa.show(5, truncate = False)

+-------------------------+----+---------+------------+----------+------+------------+-----+------+----------+----------+------------------------------+
|Car                      |MPG |Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|Codigo_Car|Estado_Car|Modelo_Carro                  |
+-------------------------+----+---------+------------+----------+------+------------+-----+------+----------+----------+------------------------------+
|Chevrolet Chevelle Malibu|18.0|8        |307.0       |130.0     |3504  |12.0        |70   |US    |10        |Zero Km   |Chevrolet Chevelle Malibu - 70|
|Buick Skylark 320        |15.0|8        |350.0       |165.0     |3693  |11.5        |70   |US    |10        |Zero Km   |Buick Skylark 320 - 70        |
|Plymouth Satellite       |18.0|8        |318.0       |150.0     |3436  |11.0        |70   |US    |10        |Zero Km   |Plymouth Satellite - 70       |
|AMC Rebel SST            |16.0|8        |304.0       |150.0     |3433  |12.0        |70   |US    |10        |Zero Km   |AMC Rebel SST - 70            |
|Ford Torino              |17.0|8        |302.0       |140.0     |3449  |10.5        |70   |US    |10        |Zero Km   |Ford Torino - 70              |
+-------------------------+----+---------+------------+----------+------+------------+-----+------+----------+----------+------------------------------+
only showing top 5 rows

In [122]:
df_dsa = df_dsa.drop('Codigo_Car').drop('Estado_Car')
df_dsa.show(5, truncate = False)

+-------------------------+----+---------+------------+----------+------+------------+-----+------+------------------------------+
|Car                      |MPG |Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|Modelo_Carro                  |
+-------------------------+----+---------+------------+----------+------+------------+-----+------+------------------------------+
|Chevrolet Chevelle Malibu|18.0|8        |307.0       |130.0     |3504  |12.0        |70   |US    |Chevrolet Chevelle Malibu - 70|
|Buick Skylark 320        |15.0|8        |350.0       |165.0     |3693  |11.5        |70   |US    |Buick Skylark 320 - 70        |
|Plymouth Satellite       |18.0|8        |318.0       |150.0     |3436  |11.0        |70   |US    |Plymouth Satellite - 70       |
|AMC Rebel SST            |16.0|8        |304.0       |150.0     |3433  |12.0        |70   |US    |AMC Rebel SST - 70            |
|Ford Torino              |17.0|8        |302.0       |140.0     |3449  |10.5        |70   |US    |Ford Torino - 70              |
+-------------------------+----+---------+------------+----------+------+------------+-----+------+------------------------------+
only showing top 5 rows

In [125]:
# Filtrar linhas
total_count = df_dsa.count()
print("Total de Carros no Dataset: " + str(total_count))
usa_filtered_count = df_dsa.filter(col('Origin') =='US').count()
print("Total de Carros no Dataset Produzidos nos EUA: " + str(usa_filtered_count))
df_dsa.filter(col('Origin')=='US').show(truncate = False)

Total de Carros no Dataset: 406
Total de Carros no Dataset Produzidos nos EUA: 254
+--------------------------------+----+---------+------------+----------+------+------------+-----+------+-------------------------------------+
|Car                             |MPG |Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|Modelo_Carro                         |
+--------------------------------+----+---------+------------+----------+------+------------+-----+------+-------------------------------------+
|Chevrolet Chevelle Malibu       |18.0|8        |307.0       |130.0     |3504  |12.0        |70   |US    |Chevrolet Chevelle Malibu - 70       |
|Buick Skylark 320               |15.0|8        |350.0       |165.0     |3693  |11.5        |70   |US    |Buick Skylark 320 - 70               |
|Plymouth Satellite              |18.0|8        |318.0       |150.0     |3436  |11.0        |70   |US    |Plymouth Satellite - 70              |
|AMC Rebel SST                   |16.0|8        |304.0       |150.0     |3433  |12.0        |70   |US    |AMC Rebel SST - 70                   |
|Ford Torino                     |17.0|8        |302.0       |140.0     |3449  |10.5        |70   |US    |Ford Torino - 70                     |
|Ford Galaxie 500                |15.0|8        |429.0       |198.0     |4341  |10.0        |70   |US    |Ford Galaxie 500 - 70                |
|Chevrolet Impala                |14.0|8        |454.0       |220.0     |4354  |9.0         |70   |US    |Chevrolet Impala - 70                |
|Plymouth Fury iii               |14.0|8        |440.0       |215.0     |4312  |8.5         |70   |US    |Plymouth Fury iii - 70               |
|Pontiac Catalina                |14.0|8        |455.0       |225.0     |4425  |10.0        |70   |US    |Pontiac Catalina - 70                |
|AMC Ambassador DPL              |15.0|8        |390.0       |190.0     |3850  |8.5         |70   |US    |AMC Ambassador DPL - 70              |
|Chevrolet Chevelle Concours (sw)|0.0 |8        |350.0       |165.0     |4142  |11.5        |70   |US    |Chevrolet Chevelle Concours (sw) - 70|
|Ford Torino (sw)                |0.0 |8        |351.0       |153.0     |4034  |11.0        |70   |US    |Ford Torino (sw) - 70                |
|Plymouth Satellite (sw)         |0.0 |8        |383.0       |175.0     |4166  |10.5        |70   |US    |Plymouth Satellite (sw) - 70         |
|AMC Rebel SST (sw)              |0.0 |8        |360.0       |175.0     |3850  |11.0        |70   |US    |AMC Rebel SST (sw) - 70              |
|Dodge Challenger SE             |15.0|8        |383.0       |170.0     |3563  |10.0        |70   |US    |Dodge Challenger SE - 70             |
|Plymouth 'Cuda 340              |14.0|8        |340.0       |160.0     |3609  |8.0         |70   |US    |Plymouth 'Cuda 340 - 70              |
|Ford Mustang Boss 302           |0.0 |8        |302.0       |140.0     |3353  |8.0         |70   |US    |Ford Mustang Boss 302 - 70           |
|Chevrolet Monte Carlo           |15.0|8        |400.0       |150.0     |3761  |9.5         |70   |US    |Chevrolet Monte Carlo - 70           |
|Buick Estate Wagon (sw)         |14.0|8        |455.0       |225.0     |3086  |10.0        |70   |US    |Buick Estate Wagon (sw) - 70         |
|Plymouth Duster                 |22.0|6        |198.0       |95.0      |2833  |15.5        |70   |US    |Plymouth Duster - 70                 |
+--------------------------------+----+---------+------------+----------+------+------------+-----+------+-------------------------------------+
only showing top 20 rows

In [128]:
# Filtarndo linhas com múltiplas condições
total_count = df_dsa.count()
print("Total de Carros no Dataset: " + str(total_count))
europe_filtered_count = df_dsa.filter((col('Origin')=='Europe') & (col('Cylinders')==4)).count()
print("Total de Carros no Dataset Produzidos na Europa e com 4 Cilindros: " + str(europe_filtered_count))
df_dsa.filter(col('Origin')=='Europe').show(truncate = False)

Total de Carros no Dataset: 406
Total de Carros no Dataset Produzidos na Europa e com 4 Cilindros: 66
+----------------------------+----+---------+------------+----------+------+------------+-----+------+---------------------------------+
|Car                         |MPG |Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|Modelo_Carro                     |
+----------------------------+----+---------+------------+----------+------+------------+-----+------+---------------------------------+
|Citroen DS-21 Pallas        |0.0 |4        |133.0       |115.0     |3090  |17.5        |70   |Europe|Citroen DS-21 Pallas - 70        |
|Volkswagen 1131 Deluxe Sedan|26.0|4        |97.0        |46.0      |1835  |20.5        |70   |Europe|Volkswagen 1131 Deluxe Sedan - 70|
|Peugeot 504                 |25.0|4        |110.0       |87.0      |2672  |17.5        |70   |Europe|Peugeot 504 - 70                 |
|Audi 100 LS                 |24.0|4        |107.0       |90.0      |2430  |14.5        |70   |Europe|Audi 100 LS - 70                 |
|Saab 99e                    |25.0|4        |104.0       |95.0      |2375  |17.5        |70   |Europe|Saab 99e - 70                    |
|BMW 2002                    |26.0|4        |121.0       |113.0     |2234  |12.5        |70   |Europe|BMW 2002 - 70                    |
|Volkswagen Super Beetle 117 |0.0 |4        |97.0        |48.0      |1978  |20.0        |71   |Europe|Volkswagen Super Beetle 117 - 71 |
|Opel 1900                   |28.0|4        |116.0       |90.0      |2123  |14.0        |71   |Europe|Opel 1900 - 71                   |
|Peugeot 304                 |30.0|4        |79.0        |70.0      |2074  |19.5        |71   |Europe|Peugeot 304 - 71                 |
|Fiat 124B                   |30.0|4        |88.0        |76.0      |2065  |14.5        |71   |Europe|Fiat 124B - 71                   |
|Volkswagen Model 111        |27.0|4        |97.0        |60.0      |1834  |19.0        |71   |Europe|Volkswagen Model 111 - 71        |
|Volkswagen Type 3           |23.0|4        |97.0        |54.0      |2254  |23.5        |72   |Europe|Volkswagen Type 3 - 72           |
|Volvo 145e (sw)             |18.0|4        |121.0       |112.0     |2933  |14.5        |72   |Europe|Volvo 145e (sw) - 72             |
|Volkswagen 411 (sw)         |22.0|4        |121.0       |76.0      |2511  |18.0        |72   |Europe|Volkswagen 411 (sw) - 72         |
|Peugeot 504 (sw)            |21.0|4        |120.0       |87.0      |2979  |19.5        |72   |Europe|Peugeot 504 (sw) - 72            |
|Renault 12 (sw)             |26.0|4        |96.0        |69.0      |2189  |18.0        |72   |Europe|Renault 12 (sw) - 72             |
|Volkswagen Super Beetle     |26.0|4        |97.0        |46.0      |1950  |21.0        |73   |Europe|Volkswagen Super Beetle - 73     |
|Fiat 124 Sport Coupe        |26.0|4        |98.0        |90.0      |2265  |15.5        |73   |Europe|Fiat 124 Sport Coupe - 73        |
|Fiat 128                    |29.0|4        |68.0        |49.0      |1867  |19.5        |73   |Europe|Fiat 128 - 73                    |
|Opel Manta                  |24.0|4        |116.0       |75.0      |2158  |15.5        |73   |Europe|Opel Manta - 73                  |
+----------------------------+----+---------+------------+----------+------+------------+-----+------+---------------------------------+
only showing top 20 rows

In [130]:
# Ordenar as linhas (por padrão em ordem ascendente)
df_dsa.orderBy('Cylinders').show(truncate = False)

+----------------------------+----+---------+------------+----------+------+------------+-----+------+---------------------------------+
|Car                         |MPG |Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|Modelo_Carro                     |
+----------------------------+----+---------+------------+----------+------+------------+-----+------+---------------------------------+
|Mazda RX2 Coupe             |19.0|3        |70.0        |97.0      |2330  |13.5        |72   |Japan |Mazda RX2 Coupe - 72             |
|Mazda RX3                   |18.0|3        |70.0        |90.0      |2124  |13.5        |73   |Japan |Mazda RX3 - 73                   |
|Mazda RX-4                  |21.5|3        |80.0        |110.0     |2720  |13.5        |77   |Japan |Mazda RX-4 - 77                  |
|Mazda RX-7 GS               |23.7|3        |70.0        |100.0     |2420  |12.5        |80   |Japan |Mazda RX-7 GS - 80               |
|Datsun 510 (sw)             |28.0|4        |97.0        |92.0      |2288  |17.0        |72   |Japan |Datsun 510 (sw) - 72             |
|Mercury Capri 2000          |23.0|4        |122.0       |86.0      |2220  |14.0        |71   |US    |Mercury Capri 2000 - 71          |
|Chevrolet Vega (sw)         |22.0|4        |140.0       |72.0      |2408  |19.0        |71   |US    |Chevrolet Vega (sw) - 71         |
|Opel 1900                   |28.0|4        |116.0       |90.0      |2123  |14.0        |71   |Europe|Opel 1900 - 71                   |
|Volkswagen 1131 Deluxe Sedan|26.0|4        |97.0        |46.0      |1835  |20.5        |70   |Europe|Volkswagen 1131 Deluxe Sedan - 70|
|Peugeot 304                 |30.0|4        |79.0        |70.0      |2074  |19.5        |71   |Europe|Peugeot 304 - 71                 |
|Audi 100 LS                 |24.0|4        |107.0       |90.0      |2430  |14.5        |70   |Europe|Audi 100 LS - 70                 |
|Fiat 124B                   |30.0|4        |88.0        |76.0      |2065  |14.5        |71   |Europe|Fiat 124B - 71                   |
|BMW 2002                    |26.0|4        |121.0       |113.0     |2234  |12.5        |70   |Europe|BMW 2002 - 70                    |
|Toyota Corolla 1200         |31.0|4        |71.0        |65.0      |1773  |19.0        |71   |Japan |Toyota Corolla 1200 - 71         |
|Chevrolet Vega 2300         |28.0|4        |140.0       |90.0      |2264  |15.5        |71   |US    |Chevrolet Vega 2300 - 71         |
|Datsun 1200                 |35.0|4        |72.0        |69.0      |1613  |18.0        |71   |Japan |Datsun 1200 - 71                 |
|Ford Pinto                  |25.0|4        |98.0        |0.0       |2046  |19.0        |71   |US    |Ford Pinto - 71                  |
|Volkswagen Model 111        |27.0|4        |97.0        |60.0      |1834  |19.0        |71   |Europe|Volkswagen Model 111 - 71        |
|Dodge Colt Hardtop          |25.0|4        |97.5        |80.0      |2126  |17.0        |72   |US    |Dodge Colt Hardtop - 72          |
|Volkswagen Type 3           |23.0|4        |97.0        |54.0      |2254  |23.5        |72   |Europe|Volkswagen Type 3 - 72           |
+----------------------------+----+---------+------------+----------+------+------------+-----+------+---------------------------------+
only showing top 20 rows

In [131]:
# Usando groupBy e orderBy juntos
df_dsa.groupBy('Origin').count().orderBy('count', ascending = False).show()

+------+-----+
|Origin|count|
+------+-----+
|    US|  254|
| Japan|   79|
|Europe|   73|
+------+-----+

In [137]:
# Filtra os dataset
df_dsa = spark.read.csv('dataset.csv', header = True, sep = ";", inferSchema = True)
europe_cars = df_dsa.filter((col('Origin')=='Europe') & (col('Cylinders')==5))
japan_cars = df_dsa.filter((col('Origin')=='Japan') & (col('Cylinders')==3))

In [141]:
# Union
print("Carros Produzidos na Europa: " + str(europe_cars.count()))
print("Carros ProduZidos no Japão: " + str(japan_cars.count()))
print("Total de Carros Produzidso na Europa e Japão: " + str(europe_cars.union(japan_cars).count()))

Carros Produzidos na Europa: 3
Carros ProduZidos no Japão: 4
Total de Carros Produzidso na Europa e Japão: 7

In [145]:
# UnionBtName (quando as colunas estão fora de ordem)
df1 = spark.createDataFrame([[12, 34, 10]], ["col1", "col2", "col3"])
df2 = spark.createDataFrame([[87, 71, 29]], ["col2", "col3", "col1"])
df1.unionByName(df2).show()

+----+----+----+
|col1|col2|col3|
+----+----+----+
|  12|  34|  10|
|  29|  87|  71|
+----+----+----+

In [146]:
# Functions
from pyspark.sql import functions
print(dir(functions))

['Any', 'ArrayType', 'Callable', 'Column', 'DataFrame', 'DataType', 'Dict', 'Iterable', 'JVMView', 'List', 'Optional', 'PandasUDFType', 'PySparkTypeError', 'PySparkValueError', 'PythonEvalType', 'SparkContext', 'StringType', 'StructType', 'TYPE_CHECKING', 'Tuple', 'Union', 'UserDefinedFunction', 'ValuesView', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', '_create_column_from_literal', '_create_lambda', '_create_py_udf', '_from_numpy_type', '_get_jvm_function', '_get_lambda_parameters', '_invoke_binary_math_function', '_invoke_function', '_invoke_function_over_columns', '_invoke_function_over_seq_of_columns', '_invoke_higher_order_function', '_options_to_str', '_test', '_to_java_column', '_to_seq', '_unresolved_named_lambda_variable', 'abs', 'acos', 'acosh', 'add_months', 'aggregate', 'approxCountDistinct', 'approx_count_distinct', 'array', 'array_append', 'array_compact', 'array_contains', 'array_distinct', 'array_except', 'array_insert', 'array_intersect', 'array_join', 'array_max', 'array_min', 'array_position', 'array_remove', 'array_repeat', 'array_sort', 'array_union', 'arrays_overlap', 'arrays_zip', 'asc', 'asc_nulls_first', 'asc_nulls_last', 'ascii', 'asin', 'asinh', 'assert_true', 'atan', 'atan2', 'atanh', 'avg', 'base64', 'bin', 'bit_length', 'bitwiseNOT', 'bitwise_not', 'broadcast', 'bround', 'bucket', 'call_udf', 'cast', 'cbrt', 'ceil', 'coalesce', 'col', 'collect_list', 'collect_set', 'column', 'concat', 'concat_ws', 'conv', 'corr', 'cos', 'cosh', 'cot', 'count', 'countDistinct', 'count_distinct', 'covar_pop', 'covar_samp', 'crc32', 'create_map', 'csc', 'cume_dist', 'current_date', 'current_timestamp', 'date_add', 'date_format', 'date_sub', 'date_trunc', 'datediff', 'dayofmonth', 'dayofweek', 'dayofyear', 'days', 'decode', 'degrees', 'dense_rank', 'desc', 'desc_nulls_first', 'desc_nulls_last', 'element_at', 'encode', 'exists', 'exp', 'explode', 'explode_outer', 'expm1', 'expr', 'factorial', 'filter', 'first', 'flatten', 'floor', 'forall', 'format_number', 'format_string', 'from_csv', 'from_json', 'from_unixtime', 'from_utc_timestamp', 'functools', 'get', 'get_active_spark_context', 'get_json_object', 'greatest', 'grouping', 'grouping_id', 'has_numpy', 'hash', 'hex', 'hour', 'hours', 'hypot', 'initcap', 'inline', 'inline_outer', 'input_file_name', 'inspect', 'instr', 'isnan', 'isnull', 'json_tuple', 'kurtosis', 'lag', 'last', 'last_day', 'lead', 'least', 'length', 'levenshtein', 'lit', 'localtimestamp', 'locate', 'log', 'log10', 'log1p', 'log2', 'lower', 'lpad', 'ltrim', 'make_date', 'map_concat', 'map_contains_key', 'map_entries', 'map_filter', 'map_from_arrays', 'map_from_entries', 'map_keys', 'map_values', 'map_zip_with', 'max', 'max_by', 'md5', 'mean', 'median', 'min', 'min_by', 'minute', 'mode', 'monotonically_increasing_id', 'month', 'months', 'months_between', 'nanvl', 'next_day', 'np', 'nth_value', 'ntile', 'octet_length', 'overlay', 'overload', 'pandas_udf', 'percent_rank', 'percentile_approx', 'pmod', 'posexplode', 'posexplode_outer', 'pow', 'product', 'quarter', 'radians', 'raise_error', 'rand', 'randn', 'rank', 'regexp_extract', 'regexp_replace', 'repeat', 'reverse', 'rint', 'round', 'row_number', 'rpad', 'rtrim', 'schema_of_csv', 'schema_of_json', 'sec', 'second', 'sentences', 'sequence', 'session_window', 'sha1', 'sha2', 'shiftLeft', 'shiftRight', 'shiftRightUnsigned', 'shiftleft', 'shiftright', 'shiftrightunsigned', 'shuffle', 'signum', 'sin', 'sinh', 'size', 'skewness', 'slice', 'sort_array', 'soundex', 'spark_partition_id', 'split', 'sqrt', 'stddev', 'stddev_pop', 'stddev_samp', 'struct', 'substring', 'substring_index', 'sum', 'sumDistinct', 'sum_distinct', 'sys', 'tan', 'tanh', 'timestamp_seconds', 'toDegrees', 'toRadians', 'to_csv', 'to_date', 'to_json', 'to_str', 'to_timestamp', 'to_utc_timestamp', 'transform', 'transform_keys', 'transform_values', 'translate', 'trim', 'trunc', 'try_remote_functions', 'udf', 'unbase64', 'unhex', 'unix_timestamp', 'unwrap_udt', 'upper', 'var_pop', 'var_samp', 'variance', 'warnings', 'weekofyear', 'when', 'window', 'window_time', 'xxhash64', 'year', 'years', 'zip_with']

In [147]:
from pyspark.sql.functions import col, lower, upper, substring
help(substring)

Help on function substring in module pyspark.sql.functions:

substring(str: 'ColumnOrName', pos: int, len: int) -> pyspark.sql.column.Column
    Substring starts at `pos` and is of length `len` when str is String type or
    returns the slice of byte array that starts at `pos` in byte and is of length `len`
    when str is Binary type.

    .. versionadded:: 1.5.0

    .. versionchanged:: 3.4.0
        Supports Spark Connect.

    Notes
    -----
    The position is not zero based, but 1 based index.

    Parameters
    ----------
    str : :class:`~pyspark.sql.Column` or str
        target column to work on.
    pos : int
        starting position in str.
    len : int
        length of chars.

    Returns
    -------
    :class:`~pyspark.sql.Column`
        substring of given value.

    Examples
    --------
    >>> df = spark.createDataFrame([('abcd',)], ['s',])
    >>> df.select(substring(df.s, 1, 2).alias('s')).collect()
    [Row(s='ab')]